.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Editor {
  /* background-color: rgb(230, 214, 219); */
  text-align: justify;
  width: 45%;
  margin: 10px;
  float: left;
  /* border: 2px solid red; */
}

.Courses {
  /* background-color: aliceblue; */
  text-align: justify;
  width: 45%;
  margin: 10px;
  float: left;
  /* border: 2px solid blue; */
}
.Notes {
  /* background-color: aliceblue; */
  text-align: justify;
  width: 45%;
  margin: 10px;
  float: right;
  /* border: 2px solid blue; */
}

.Courses > ul {
  text-decoration: none;
  list-style: none;
}
.Courses > ul > li {
  margin: 5px;
  padding: 5px;
  border: 3px solid aliceblue;
}

.Note {
  text-align: justify;
  width: 50%;
  margin: 1em;
  padding: 1em;
  float: left;
  border: 2px solid red;
}

.MyNote {
  text-align: justify;
  width: 50%;
  margin: 1em;
  padding: 1em;
  float: left;
  border: 2px solid red;
}

.WriteFeedback {
  text-align: justify;
  padding: 1em;
  width: 35%;
  margin: 1em;
  float: right;
  border: 2px solid blue;
}
.ReadFeedback {
  text-align: justify;
  padding: 1em;
  width: 35%;
  margin: 1em;
  float: right;
  border: 2px solid blue;
}
.NoteTaking {
  text-align: justify;
  padding: 1em;
  width: 100%;
  margin: 1em;
}

.Editor {
  /* background-color: rgb(230, 214, 219); */
  text-align: justify;
  width: 45%;
  margin: 10px;
  border: 1px solid black;

  /* border: 2px solid red; */
}