.MyFeedback {
  text-align: center;
}

.MyFeedback-logo {
  height: 40vmin;
}


.MyFeedback-link {
  color: #09d3ac;
}

.NoteContent {
  background-color: aliceblue;
  text-align: justify;
  width: 45%;
  margin: 10px;
  float: left;
  border: 2px solid blue;
}

.NoteContent > ul {
  text-decoration: none;
  list-style: none;
}
.NoteContent > ul > li {
  margin: 5px;
  padding: 5px;
  border: 3px solid aliceblue;
}

.Feedback {
  background-color: aliceblue;
  text-align: justify;
  width: 45%;
  margin: 10px;
  float: right;
  border: 2px solid blue;
}

.Feedback > ul {
  text-decoration: none;
  list-style: none;
}
.Feedback > ul > li {
  margin: 5px;
  padding: 5px;
  border: 3px solid aliceblue;
}


