.NoteTaking {
	text-align: center;
	align-items: center;
	justify-content: center;
}

.Outline {
	background-color: aliceblue;
	text-align: justify;
	width: 45%;
	margin: 10px;
	float: left;
	border: 2px solid blue;
}

.Editor {
	background-color: rgb(230, 214, 219);
	text-align: justify;
	width: 45%;
	margin: 10px;
	float: right;
	border: 2px solid red;
}
